<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<logger name="com.assign.ps" level="${LOG_LEVEL:-DEBUG}" />
	<if condition='isNull("LOG_FORMAT") || property("LOG_FORMAT").equalsIgnoreCase("plain")'>
		<then>
			<appender name="PLAIN"
				class="ch.qos.logback.core.ConsoleAppender">
				<encoder>
					<pattern>${CONSOLE_LOG_PATTERN}</pattern>
					<charset>utf8</charset>
				</encoder>
			</appender>
			<root level="${LOG_LEVEL:-DEBUG}">
				<appender-ref  ref="PLAIN" />
			</root>
		</then>
	</if>
	<if condition='property("LOG_FORMAT").equalsIgnoreCase("json")'>
		<then>
			<appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
				<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
			</appender>
			<root level="${LOG_LEVEL:-DEBUG}">
				<appender-ref ref="JSON" />
			</root>
		</then>
	</if>
</configuration>